[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
langchain-openai = "*"
langchain-pinecone = "*"
langchain = "*"
docarray = "*"
pydantic = "==1.10.8"
pytube = "*"
python-dotenv = "*"
tiktoken = "*"
pinecone-client = "*"
scikit-learn = "*"
ruff = "*"
pypdf = "*"
llama-cpp-python = "*"
langchain-experimental = "*"

[dev-packages]

[requires]
python_version = "3.11"
